@import url("https://fonts.cdnfonts.com/css/wotfard");
@import url("https://fonts.cdnfonts.com/css/frosty-fizz");
@import url("https://fonts.cdnfonts.com/css/flapdoodle");

:root {
  --orange: #ffcc80;
  --cornflower-blue: #6495ed;
  --darker-cornflower-blue: #6494edde;
  --light-blue: #87ceeb;
  --navy-blue: #001f3f;
  --sage-green: #9bc995;
  --white: #ffffff;
  --dark-gray: #222222;
  --solid-black: #000000;
  --navy-blue-black-gradient: linear-gradient(
    45deg,
    hsl(210deg 100% 12%) 5%,
    hsl(211deg 100% 12%) 13%,
    hsl(212deg 100% 11%) 25%,
    hsl(213deg 100% 11%) 37%,
    hsl(215deg 100% 10%) 47%,
    hsl(216deg 100% 10%) 57%,
    hsl(218deg 100% 10%) 67%,
    hsl(221deg 100% 9%) 75%,
    hsl(224deg 100% 9%) 83%,
    hsl(229deg 100% 8%) 90%,
    hsl(234deg 100% 8%) 95%,
    hsl(0deg 0% 0%) 100%
  );

  /* font family */
  --wotfard: "Wotfard", sans-serif;
  --frosty-fizz: "FROSTY FIZZ", sans-serif;

  /* font size */
  --header-logo: 1.75rem;
  --nav: 1.25rem;
  --h1-about-me: 2.5rem;
  --p-about-me: 1.4rem;
  --socials-hero: 1.5rem;
  --section-title: 3rem;
  --skills-heading: 1.75rem;
  --skills-list: 1.5rem;
  --download: 1.2rem;
  --project-name: 1.3rem;
  --view-website: 1.2rem;
  --contact-me-btns: 1.5rem;
  --footer: 1.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: var(--wotfard);
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  background-image: var(--navy-blue-black-gradient);
  color: var(--white);
  width: 100%;
  max-width: 1680px;
  margin: auto;
  overflow-x: hidden;
}
